
<footer>
<div class="main">

  <h5>Organize your event get everyone together..look for event  or create your event to have fun.. Need better planned event? Let's help you out here!</h5>
</div>
<div class="info">

</div>
<div class="infobar">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Event Ideas</h2>
            <p>These days, every penny counts and many community organizations are feeling the pinch. Reliable funding sources are thin, and those that do exist are drying up like puddles in a drought. </p>
            <p><a class="btn btn-secondary" href="https://lifestyle.howstuffworks.com/event-planning/party-themes/10-community-event-ideas.htm" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Tips about hosting</h2>
            <p>Hosting a party can be a stressful undertaking. Will people come? Will they have fun? Is vomit bad for houseplants? We answer all these questions and more.</p>
            <p><a class="btn btn-secondary" href="https://jezebel.com/5805917/how-to-host-a-good-party" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Sherry Cheng</h2>
            <a href="https://www.linkedin.com/in/sehribancheng/">Passionate Developer</a>
            <a href="#"></a>

            <p></p>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/sehribancheng/" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div>

    </main>
      <p id="company">&copy; Company 2017</p>
    </footer>
