/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar


 */
 @media only screen and (max-width: 1800px) {
   body{
     background-image: url(/events.gif);
     background-repeat: none;
     background-size: cover;
     color:black;
     /*height:1500px;*/
   }
}
html{
  width: 100%;
}

.newEvent{
  margin-left:3%;
  width:20%;
}
.table{
  margin:1% 1% 1% 1%;
}
.user{
  float: right;
  margin: 2%;
  font-size: 15px;
}
#brand{
  font-style: italic;
  float: left;
  margin-left: 0;
  color: red;
  font-size: 30px;
  font-weight: bold;
}
/*.container{
  margin-left: 0;
  height:30px;
  opacity: 0.7;
  width:100%;
}*/
.menu{
  color:black;
  /*text-align: justify;*/
}

a{
  color: black;
}
.infobar{
  /*padding-top: 150px;*/
  text-align:center;
  font-size: 15px;
  margin-top: 400px;
}

.main{
  width:700px;
  height:100px;
  margin-left:22%;
   color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 200px; line-height: 200px; font-weight: normal; margin-bottom: 0px; margin-top: 50px; text-align: center; text-shadow: 0 1px 1px #fff;
}
h2{
  font-size: 15px;
}
p{
  font-size: 12px;
}
a{
  font-size: 12px;
}
h5{
  font-size: 17px;
}
#company{
  text-align: center;
  height:20px;
}
.search{
  margin-top: 4%;
  font-size: 12px;
}
