/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar


 */
body{
<<<<<<< HEAD
  background-image: url(/party6.jpg);
  background-repeat: none;
  background-size: cover;
=======

>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952
  color:brown;
}
.newEvent{
  margin-left:3%;
  width:20%;
}
.table{
  margin:1% 1% 1% 1%;
}
.user{
  float: right;
  margin: 2%;
  font-size: 15px;
}
#brand{
  font-style: italic;
  float: left;
  margin-left: 0;
  color: brown;
<<<<<<< HEAD
  font-size: 30px;
  font-weight: lighter;
=======
  font-weight: lighter;
  font-family:verdana;
  font-size: 30px;
>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952

}
.container{
  margin-left: 0;
  height:30px;
  opacity: 0.7;
  width:100%;
}
.menu{
  color:black;
<<<<<<< HEAD
=======
  text-align: justify;
}

a{
  color: brown;
}
.infobar{
  /*padding-top: 150px;*/
  text-align:center;

}

.main{
  width:500px;
  height:100px;
  margin-left:22%;
>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952
}
