
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div>
<<<<<<< HEAD
      <%= link_to meeting.event, meeting %>
=======
      <%= link_to meeting.event, meeting, class:"myevent" %>
>>>>>>> 20c022cf3aef3d78ea4459a050959cd4ac79d952
    </div>
  <% end %>
<% end %>
